@media (max-width: 700px){
    .headerNav .menu {
        display: none;
    }
    .about {
        margin: 159px 45px 0 45px;
    }
    .aboutLeft {
        width: 100%;
    }
    .aboutRight {
        display: none;
    }
    .home {
        justify-content: center;
    }
    .homeRight{
        display: none;
    }
    .aboutMe{
        max-width: 80%;
    }
    .images {
        flex-wrap: wrap;
    }
}